[submodule "OpenCV-CPP/thirdparty/glfw"]
	path = OpenCV-CPP/thirdparty/glfw
	url = https://github.com/glfw/glfw

[submodule "OpenCV-CPP/include/implot"]
	path = OpenCV-CPP/include/implot
	url = https://github.com/epezent/implot
